@font-face {
    font-family: 'Pretendard';
    src: url(../font/PretendardVariable.woff2);}
    @font-face {
        font-family: 'KCC-eunyoung';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Mont{font-family: 'Montserrat', sans-serif;}

html{
    font-family: 'Pretendard';
    color: #494949;
    background-color: #ecf2fe;
}
*{margin: 0;
    padding: 0;}
a{text-decoration: none;
color: inherit;}
ul{list-style: none;}
img{vertical-align: top;}